__pycache__/
*.py[cod]

.venv/
venv/
env/

.env
*.env

.idea/
.vscode/

*.log
*.tmp
*.bak

catalog.json
*.egg-info/

/custom_nodes/*
!/custom_nodes/sample/
!/custom_nodes/sample/**
/custom_nodes/sample/**/__pycache__/
/custom_nodes/sample/**/*.py[cod]

/workflows/*
!/workflows/sample_a+b=c.json
!/workflows/sample_custom.json

/models/
